body {
    margin: 0px;
    padding: 15px;
    background: linear-gradient(to bottom right, rgb(167, 161, 255), rgb(0, 14, 95));
}

.bottom {
    font-size: 10pt;
    color: rgb(0, 0, 0);
    margin-top: 40%;
}

input {
    width: 100px;
    margin: 5px;
}

.variables {
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid aliceblue;
    width: 12%;
}

h2 {
    margin-left: 5%;
    color: aliceblue;
}

img {
    height: 30px;
    width: 30px;
    margin: 5px;
    float: right;
}
